<a href="https://colab.research.google.com/github/KMInada/DSWP/blob/Exercicios/LabData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from google.colab import drive

drive.mount('/content/drive')
df_LabData = pd.read_csv('/content/drive/My Drive/Data_Science/train4.csv', index_col = 0)
df_LabData.head()

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
id                                    ...
4030       0              0        0  ...           45.05       2560.10      0
6731       1              0        1  ...           19.65        332.65      0
6479       0              0        1  ...          110.80       6640.70      0
6861       0              0        0  ...          101.90       3545.35      1
3266       1              0        1  ...           70.75       1974.80      1

[5 rows x 20 columns]

In [9]:
df_LabData.columns = [c.lower() for c in df_LabData.columns]
df_LabData.head()

      gender  seniorcitizen  partner  ...  monthlycharges  totalcharges  churn
id                                    ...
4030       0              0        0  ...           45.05       2560.10      0
6731       1              0        1  ...           19.65        332.65      0
6479       0              0        1  ...          110.80       6640.70      0
6861       0              0        0  ...          101.90       3545.35      1
3266       1              0        1  ...           70.75       1974.80      1

[5 rows x 20 columns]

In [10]:
df_LabData.dtypes

gender                int64
seniorcitizen         int64
partner               int64
dependents            int64
tenure                int64
phoneservice          int64
multiplelines         int64
internetservice       int64
onlinesecurity        int64
onlinebackup          int64
deviceprotection      int64
techsupport           int64
streamingtv           int64
streamingmovies       int64
contract              int64
paperlessbilling      int64
paymentmethod         int64
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [11]:
df_X = df_LabData.drop(columns = ['churn'], axis = 1)
df_y = df_LabData['churn']
df_y.head()

id
4030    0
6731    0
6479    0
6861    1
3266    1
Name: churn, dtype: int64

In [12]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.2)

In [13]:
X2_treinamento = sm.add_constant(X_treinamento)
lm_sm = sm.OLS(y_treinamento, X2_treinamento).fit()
print(lm_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  churn   R-squared:                       0.283
Model:                            OLS   Adj. R-squared:                  0.280
Method:                 Least Squares   F-statistic:                     93.10
Date:                Thu, 12 Nov 2020   Prob (F-statistic):          8.78e-306
Time:                        18:53:06   Log-Likelihood:                -1979.5
No. Observations:                4507   AIC:                             3999.
Df Residuals:                    4487   BIC:                             4127.
Df Model:                          19
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.2013      0.029      6.878      0.000       0.144       0.259
gender              -0.0006      0.011     -0.051      0.960      -0.023       0.021
seniorcitizen        0.0589      0.016      3.580      0.000       0.027       0.091
partner             -0.0097      0.013     -0.721      0.471      -0.036       0.017
dependents          -0.0140      0.014     -0.974      0.330      -0.042       0.014
tenure              -0.0019      0.001     -3.099      0.002      -0.003      -0.001
phoneservice         0.0680      0.111      0.614      0.539      -0.149       0.285
multiplelines        0.0728      0.030      2.410      0.016       0.014       0.132
internetservice      0.2926      0.136      2.154      0.031       0.026       0.559
onlinesecurity      -0.0507      0.031     -1.644      0.100      -0.111       0.010
onlinebackup        -0.0049      0.031     -0.160      0.873      -0.065       0.055
deviceprotection     0.0132      0.031      0.431      0.666      -0.047       0.073
techsupport         -0.0384      0.031     -1.238      0.216      -0.099       0.022
streamingtv          0.0874      0.056      1.562      0.118      -0.022       0.197
streamingmovies      0.1055      0.056      1.880      0.060      -0.005       0.216
contract            -0.0441      0.010     -4.218      0.000      -0.065      -0.024
paperlessbilling     0.0501      0.012      4.024      0.000       0.026       0.075
paymentmethod        0.0016      0.005      0.284      0.776      -0.009       0.012
monthlycharges      -0.0042      0.005     -0.772      0.440      -0.015       0.006
totalcharges     -4.495e-05   8.03e-06     -5.599      0.000   -6.07e-05   -2.92e-05
==============================================================================
Omnibus:                      244.738   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              245.168
Skew:                           0.528   Prob(JB):                     5.79e-54
Kurtosis:                       2.566   Cond. No.                     1.16e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+05. This might indicate that there are
strong multicollinearity or other numerical problems.