<a href="https://colab.research.google.com/github/KMInada/DSWP/blob/Exercicios/LabData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
df_LabData = pd.read_csv('/content/drive/My Drive/Data_Science/train4.csv', index_col = 0)
df_LabData.head()

Mounted at /content/drive

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
id                                    ...
4030  Female              0        0  ...           45.05       2560.10      0
6731    Male              0        1  ...           19.65        332.65      0
6479  Female              0        1  ...          110.80       6640.70      0
6861  Female              0        0  ...          101.90       3545.35      1
3266    Male              0        1  ...           70.75       1974.80      1

[5 rows x 20 columns]

In [2]:
df_LabData.columns = [c.lower() for c in df_LabData.columns]
df_LabData.head()

      gender  seniorcitizen  partner  ...  monthlycharges  totalcharges  churn
id                                    ...
4030  Female              0        0  ...           45.05       2560.10      0
6731    Male              0        1  ...           19.65        332.65      0
6479  Female              0        1  ...          110.80       6640.70      0
6861  Female              0        0  ...          101.90       3545.35      1
3266    Male              0        1  ...           70.75       1974.80      1

[5 rows x 20 columns]

In [3]:
df_LabData.dtypes

gender               object
seniorcitizen         int64
partner               int64
dependents            int64
tenure                int64
phoneservice          int64
multiplelines         int64
internetservice       int64
onlinesecurity        int64
onlinebackup          int64
deviceprotection      int64
techsupport           int64
streamingtv           int64
streamingmovies       int64
contract              int64
paperlessbilling      int64
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [4]:
df_X = df_LabData.drop(columns = ['churn'], axis = 1)
df_y = df_LabData['churn']
df_y.head()

id
4030    0
6731    0
6479    0
6861    1
3266    1
Name: churn, dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.2)