<a href="https://colab.research.google.com/github/KMInada/DSWP/blob/Exercicios/LabData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
df_LabData = pd.read_csv('/content/drive/My Drive/Data_Science/train4.csv', sep = ';', index_col = 0)
df_LabData.head()

      gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
id                                    ...
4030  Female              0        0  ...           45.05       2560.10      0
6731    Male              0        1  ...           19.65        332.65      0
6479  Female              0        1  ...          110.80       6640.70      0
6861  Female              0        0  ...          101.90       3545.35      1
3266    Male              0        1  ...           70.75       1974.80      1

[5 rows x 20 columns]